<!--/*
 * @file about_me.ejs
 * @author Bastian Bastias Sanchez. 
 * @studentID 301242983 
 * @date September 30th 2022.
 * @since  1.0.0
 */-->

<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>

    <div class="container">
        <div class="p-5 mb-6 bg-light rounded-5 text-center">
            <img src="../img/profile-2.jpeg" class="img-fluid" alt="..." style="width: 25%; height: 25%;">

            <p class="card-text bg-light">Computer Engineer with 10 years of experience developing different positions such
                as;<br>
            Programmer Analyst, Software Engineer, Technical Leader, Scrum Master and Software
                Architect. <br>
                Experience implementing different technologies, tools and frameworks mainly under
                the jvm. <br>
                Among the technologies and platforms with more experience I can name the following;
                Java 1.4/11, JSF, Spring (DI),<br>
            SpringBoot Microservices, Quarkus, RPA, ORM like Hibernate and MyIbatis, javascript,
                Weblogic, Jboss, Glassfish, Openshift.</p>
            </p>
            <h3>
                <a href="/download_resume">
                    Resume
                  </a>
            </h3>
        </div>

<%- include('./partials/footer'); %> 