<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>
    

        <div class="container">
            <div class="p-5 mb-6 bg-light rounded-5">
                <h1>Welcome to my Portfolio</h1>
                <p class="card-text bg-light" style="transform: rotate(0);"> My name is Bastian Bastias-----</p>
                <p class="card-text bg-light" style="transform: rotate(0);">The main idea of this portfolio is to make
                    my
                    work known by mentioning my experience and skills. </p>
                <p class="card-text bg-light" style="transform: rotate(0);"></p>
                You can know more about me is this <a href="#" class="text-warning ">Link</a></p>
            </div>

<%- include('./partials/footer'); %>    