<%- include('./partials/header'); %>
<%- include('./partials/navbar'); %>


    <div class="p-5 mb-6 bg-light rounded-5 text-center">
        <div class="row">
            <div class="col-md-4">
                <div class="card mdb-color lighten-2 text-center z-depth-2">
                    <div class="card-body">
                        <h5 class="card-title">Custom Web Development</h5>
                        <img src="../img/front.png" class="img-fluid" alt="previred" style="width: 85%; height: 85%;">
                        <p class="white-text mb-0 text-sm-start">
                            <br>
                            Meetings with clients to gather requirements.
                            Website development using current technologies and frameworks.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mdb-color lighten-2 text-center z-depth-2">
                    <div class="card-body">
                        <h5 class="card-title">Software Architect</h5>
                        <img src="../img/image-arch.png" class="img-fluid" alt="software architect" style="width: 55%; height: 55%;">
                        <p class="white-text mb-0 text-sm-start">
                            Analysis, definition and design of particular architectures for different types of project
                            and needs.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card mdb-color lighten-2 text-center z-depth-2">
                    <div class="card-body">
                        <h5 class="card-title">Backend Development</h5>
                        <img src="../img/back.png" class="img-fluid" alt="back">
                        <br/><br/>
                        <p class="white-text mb-0 text-sm-start">
                            More than 12 years of experience developing backend-type projects.
                            Implementation of highly complex logic in the most robust programming languages that exist
                            today.
                        </p>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <%- include('./partials/footer'); %> 